.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100%;
}
.info{
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}